*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

.academy{
    width:100%;
    height:100vh;

    background-image:url("assets/images/academy-bg.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
