*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

.academy{
position:relative;
width:100%;
height:100vh;
background-image:url("academy-bg.png");
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.door{
    position:absolute;
    display:block;
    cursor:pointer; 
    border-radius:18px;
    transition:0.25s ease;
}
.door:hover{
    box-shadow:
        0 0 18px rgba(255,215,0,.35),
        inset 0 0 15px rgba(255,215,0,.18);

    transform:scale(1.015);
}
.door1{
    left:31%;
    top:33%;
    width:14%;
    height:46%;
}
.door2{
    left:58%;
    top:33%;
    width:14%;
    height:46%;
}

.open{
    transform:scale(1.03);
    filter:brightness(1.25);
}
.badge{
    position:absolute;
    width:55px;
    height:55px;
    border-radius:50%;
    background:linear-gradient(180deg,#f8d978,#c89b2c);
    color:#4b2e00;
    font-weight:bold;
    font-size:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 0 12px rgba(255,215,0,.35);
    z-index:1000;
}

.badge1{
    left:35.5%;
    top:24%;
}
