*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

.hall{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.hall-image {
    width:105%;
    height:105%;
    object-fit:contain;
    object-position:center top;
}
.hall-image {
    animation: hallEnter 1.2s ease;
}

@keyframes hallEnter {

    from {
        opacity:0;
        transform:scale(1.08);
    }

    to {
        opacity:1;
        transform:scale(1);
    }

}
/* القاعة */

.hall{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/* الصورة */

.hall-image{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* مناطق النقر */

.door{
    position:absolute;

    background:rgba(255,0,0,.35);

    border:2px solid yellow;

    cursor:pointer;
}

/* عند المرور بالفأرة */

.door:hover{
    border:2px solid rgba(255,215,0,.5);
}
.academy{
    top:24%;
    left:5%;
    width:13%;
    height:30%;
}

.theater{
    top:55%;
    left:20%;
    width:10%;
    height:18%;
}

.challenges{
    top:55%;
    left:60%;
    width:10%;
    height:18%;
}

.dictionary{
    top:40%;
    left:30%;
    width:10%;
    height:18%;
}

.explore{
    top:40%;
    left:50%;
    width:10%;
    height:18%;
}

.culture{
    top:25%;
    left:20%;
    width:10%;
    height:18%;
}

.profile{
    top:25%;
    left:60%;
    width:10%;
    height:18%;
}

.level2{
    top:10%;
    left:40%;
    width:12%;
    height:20%;
}
