*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

.hall{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.hall-image {
    width:105%;
    height:105%;
    object-fit:contain;
    object-position:center top;
}
.hall-image {
    animation: hallEnter 1.2s ease;
}

@keyframes hallEnter {

    from {
        opacity:0;
        transform:scale(1.08);
    }

    to {
        opacity:1;
        transform:scale(1);
    }

}
/* القاعة */

.hall{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/* الصورة */

.hall-image{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* ===========================
   مناطق النقر على الأبواب
=========================== */

.door{
    position: absolute;
    width: 180px;
    height: 180px;
    background: rgba(255,0,0,0.35);
    border: 3px solid gold;
}

/* عند المرور بالفأرة */
.door:hover{
    border:2px solid rgba(255,215,0,.8);
}
.academy{
left: 35px;
top: 140px;      /* نزل قليلاً */
width: 180px;
height: 180px;
}

.theater{
left: 290px;     /* إلى اليسار */
top: 160px;
width: 180px;
height: 180px;
}

.culture{
left: 35px;
top: 480px;      /* ارفع قليلاً */
width: 180px;
height: 180px;
}

.level2{
left: 780px;     /* إلى اليمين */
top: 270px;      /* نزل قليلاً */
width: 180px;
height: 180px;
}

.dictionary{
left: 1180px;    /* إلى اليمين */
top: 145px;      /* إلى الأعلى */
width: 180px;
height: 180px;
}

.explore{
left: 1450px;
top: 70px;       /* لا تغيّر */
width: 180px;
height: 180px;
}

.challenges{
left: 1120px;
top: 530px;      /* نزل قليلاً */
width: 180px;
height: 180px;
}

.profile{
left: 1470px;    /* إلى اليمين */
top: 480px;      /* ارفع قليلاً */
width: 180px;
height: 180px;
}
