*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

.hall{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.hall-image {
    width:105%;
    height:105%;
    object-fit:contain;
    object-position:center top;
}
.hall-image {
    animation: hallEnter 1.2s ease;
}

@keyframes hallEnter {

    from {
        opacity:0;
        transform:scale(1.08);
    }

    to {
        opacity:1;
        transform:scale(1);
    }

}
/* القاعة */

.hall{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/* الصورة */

.hall-image{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* ===========================
   مناطق النقر على الأبواب
=========================== */

.door{
    position:absolute;
    width:180px;
    height:180px;
    background:rgba(255,0,0,.35);
    border:3px solid gold;
    cursor:pointer;
    z-index:9999;
    display:block;
}

/* عند المرور بالفأرة */
.door:hover{
    border:2px solid rgba(255,215,0,.8);
}

/* الأكاديمية */
.academy{
    left:35px;
    top:140px;
    width:180px;
    height:180px;
}

/* المسرح */
.theater{
    left:295px;
    top:175px;
    width:180px;
    height:180px;
}

/* الثقافة */
.culture{
    left:35px;
    top:455px;
    width:180px;
    height:180px;
}

/* البوابة الذهبية */
.level2{
left:600px;
top:260px;
width:180px;
height:180px;
background: cyan;    
}

/* القاموس */
.dictionary{
    left:900px;
    top:250px;
    width:180px;
    height:180px;
    background: purple;
}

/* استكشف تركيا */
.explore{
    left:1120px;
    top:140px;
    width:180px;
    height:180px;
    background: black;
}

/* التحديات */
.challenges{
    left:900px;
    top:400px;
    width:180px;
    height:180px;
    background: orange;
}

/* الملف الشخصي */
.profile{
    left:1120px;
    top:420px;
    width:180px;
    height:180px;
    background: pink;
}
